# The following options will be passed to all MySQL clients
[client]
port                                    = 3306
socket                                  = /cygdrive/c/cygdrive/c/xampp/mysql/mysql.sock

[mysql]
no-auto-rehash
safe-updates

[mysqldump]
socket                                  = /cygdrive/c/xampp/mysql/mysql.sock
port                                    = 3306
max-allowed-packet                      = 16M
add-drop-database                       = true
add-drop-table                          = true
add-locks                               = true
complete-insert                         = true
debug-info                              = true
default-character-set                   = utf8
disable-keys                            = true
extended-insert                         = true
flush-logs                              = true
flush-privileges                        = true
lock-all-tables                         = true
lock-tables                             = true
port                                    = 3306
set-charset                             = true
dump-date                               = true
tz-utc                                  = true
verbose                                 = true

[isamchk]
key-buffer-size                         = 20M
sort-buffer-size                        = 20M
read-buffer                             = 2M
write-buffer                            = 2M

[myisamchk]
key-buffer-size                         = 20M
sort-buffer-size                        = 20M
read-buffer                             = 2M
write-buffer                            = 2M

[mysqlhotcopy]
interactive-timeout

[mysqladmin]
bind-address                            = 127.0.0.1
connect-timeout                         = 10
protocol                                = TCP
compress
no-beep
