[Unit]
Description=Load Dropbox daemon

[Service]
Type=forking
ExecStart=/home/khuntly/.dropbox-dist/dropboxd
ExecStop=/usr/bin/pkill dropboxd
Restart=on-abort

[Install]
WantedBy=default.target
