[Unit]
Description=Tomcat webserver
After=syslog.target network.target

[Service]
Type=forking
User=appsrv
EnvironmentFile=/etc/sysconfig/tomcat
ExecStart=/home/tomcat/tomcat/bin/daemon.sh start
ExecStop=/home/tomcat/tomcat/bin/daemon.sh stop

[Install]
WantedBy=default.target
