#==============================================================================
#
#          FILE:  user-backup.service
#         USAGE:  systemctl --user enable user-backup.service;
#                 systemctl --user start user-backup.service
#   DESCRIPTION:  Loads the user-backup systemd service
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#
#==============================================================================

[Unit]
Description=Synchronizes user profile across given hosts
Wants=profile-sync.timer

[Service]
ExecStart=/bin/expect -f %u/.lib/rsync.exp --hostname admin01.buf.synacor.com --username %u --type local --source ~/ --dest /home/%u/backups/$(date +'%Y-%m-%d')

[Install]
WantedBy=user-backup.target
