[Unit]
Description=Start VirtualBox platform

[Service]
Type=forking
ExecStart=/home/khuntly/.bin/startVirtualBox start
ExecStop=/home/khuntly/.bin/startVirtualBox stop

[Install]
WantedBy=default.target
