[Unit]
Description=Start VirtualBox platform

[Service]
Type=forking
ExecStart=${HOME}/.bin/startVirtualBox start
ExecStop=${HOME}/.bin/startVirtualBox stop

[Install]
WantedBy=default.target
