# config file for ansible -- http://ansible.com/
# ==============================================

[defaults]
inventory                       = hosts
remote_tmp                  = ${HOME}/.ansible/tmp
pattern                           = *
forks                               = 5
poll_interval                   = 15
sudo_user                       = root
ask_sudo_pass                   = True
ask_pass                        = False
module_lang                     = C
gathering                       = smart
timeout                         = 10
remote_user                     = khuntly
log_path                        = ${HOME}/.log/ansible
ansible_managed                 = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
display_skipped_hosts           = True
error_on_undefined_vars         = True
system_warnings                 = True
deprecation_warnings            = True
command_warnings                = True
action_plugins                  = /usr/share/ansible_plugins/action_plugins
callback_plugins                = /usr/share/ansible_plugins/callback_plugins
connection_plugins              = /usr/share/ansible_plugins/connection_plugins
lookup_plugins                  = /usr/share/ansible_plugins/lookup_plugins
vars_plugins                    = /usr/share/ansible_plugins/vars_plugins
filter_plugins                  = /usr/share/ansible_plugins/filter_plugins

[privilege_escalation]
become                         = True
become_method                  = sudo
become_user                    = root
become_ask_pass                = False

[ssh_connection]
ssh_args                        = -o ControlMaster=auto -o ControlPersist=60s -qt
control_path                   = %(directory)s/ansible-ssh-%%h-%%p-%%r

[accelerate]
accelerate_port                 = 5099
accelerate_timeout              = 30
accelerate_connect_timeout      = 5.0
accelerate_daemon_timeout       = 30 
