#==============================================================================
#
#          FILE:  PasswordUtility.config
#         USAGE:  . PasswordUtility.config
#   DESCRIPTION:  PasswordUtility configuration
#
#       OPTIONS:  ---
#  REQUIREMENTS:  ---
#          BUGS:  ---
#         NOTES:  ---
#        AUTHOR:  Kevin Huntly <kmhuntly@gmail.com>
#       COMPANY:  ---
#       VERSION:  1.0
#       CREATED:  ---
#      REVISION:  ---
#
#==============================================================================

[ -d "/opt/cws/repository" ] && typeset UTILITY_CLASSPATH_HOME="/opt/cws/repository" || typeset UTILITY_CLASSPATH_HOME="${HOME}/.m2/repository";
typeset PASSWORD_UTILITY_JAR="${UTILITY_CLASSPATH_HOME}/com/cws/eSolutionsSecurity/1.0-SNAPSHOT/eSolutionsSecurity-1.0-SNAPSHOT.jar";
typeset PASSWORD_UTILITY_CLASS="com.cws.esolutions.security.main.PasswordUtility";

typeset UTILITY_CLASSPATH="${UTILITY_CLASSPATH_HOME}/commons-lang/commons-lang/2.6/commons-lang-2.6.jar";
typeset UTILITY_CLASSPATH="${UTILITY_CLASSPATH}:${UTILITY_CLASSPATH_HOME}/org/slf4j/slf4j-api/1.7.5/slf4j-api-1.7.5.jar";
typeset UTILITY_CLASSPATH="${UTILITY_CLASSPATH}:${UTILITY_CLASSPATH_HOME}/commons-cli/commons-cli/1.2/commons-cli-1.2.jar";
typeset UTILITY_CLASSPATH="${UTILITY_CLASSPATH}:${UTILITY_CLASSPATH_HOME}/org/slf4j/slf4j-log4j12/1.7.5/slf4j-log4j12-1.7.5.jar";
typeset UTILITY_CLASSPATH="${UTILITY_CLASSPATH}:${UTILITY_CLASSPATH_HOME}/org/slf4j/slf4j-log4j12/1.7.5/slf4j-log4j12-1.7.5.jar";
typeset UTILITY_CLASSPATH="${UTILITY_CLASSPATH}:${UTILITY_CLASSPATH_HOME}/log4j/log4j/1.2.17/log4j-1.2.17.jar";
typeset UTILITY_CLASSPATH="${UTILITY_CLASSPATH}:${UTILITY_CLASSPATH_HOME}/commons-logging/commons-logging/1.1.3/commons-logging-1.1.3.jar";
typeset UTILITY_CLASSPATH="${UTILITY_CLASSPATH}:${UTILITY_CLASSPATH_HOME}/commons-io/commons-io/2.4/commons-io-2.4.jar";
typeset UTILITY_CLASSPATH="${UTILITY_CLASSPATH}:${UTILITY_CLASSPATH_HOME}/commons-codec/commons-codec/1.9/commons-codec-1.9.jar";

## add in the security jar
typeset UTILITY_CLASSPATH="${UTILITY_CLASSPATH}:${PASSWORD_UTILITY_JAR}";
