[Unit]
Description=Add ssh keys to ssh-agent
After=ssh-agent.service

[Service]
Type=forking
ExecStart=/bin/expect -f %h/.lib/ssh-add.exp
ExecStop=/bin/ssh-add -D

[Install]
WantedBy=default.target
