[Unit]
Description=Start VirtualBox platform

[Service]
Type=forking
ExecStart=%h/.bin/startVirtualBox start
ExecStop=%h/.bin/startVirtualBox stop

[Install]
WantedBy=default.target
