[Desktop Entry]
Categories=Utility;
Comment[en_US]=The free, open source, light-weight and easy-to-use password manager
Comment=The free, open source, light-weight and easy-to-use password manager
Exec=keepass
GenericName[en_US]=Cross-platform password manager
GenericName=Cross-platform password manager
Icon=keepass
MimeType=application/x-keepass2;
Name[en_US]=KeePass Password Safe
Name=KeePass Password Safe
Path=
StartupNotify=false
StartupWMClass=KeePass2
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.22
X-KDE-SubstituteUID=false
X-KDE-Username=
